<studijoop-banner class="red">
  Over StudiJOOP
</studijoop-banner>

<div class="row">
  <div class="col-6">
    <p>Ik heb zelf ondervonden hoe waardevol het kan zijn om je muzikale creativiteit vast te leggen zodat je het kunt
      bewaren en delen met anderen. Om dat te realiseren, beschik ik inmiddels over de nodige middelen en, misschien nog
      wel veel belangrijker, de nodige ervaring. Het is een lang gekoesterde wens van mij om dit talent van mij ‘in de
      markt te zetten’, zodat ik het kan uitbuiten en er inkomsten mee kan genereren. Maar nog belangrijker is de wens
      vaker met mensen te mogen / kunnen werken die ook passie hebben voor muziek.</p>
  </div>
</div>


<div class="row">
  <div class="col-6">
    <p>Ik kan intens genieten van de verbazing en oprechte waardering van een (beginnende) singer-songwriter als hij (of
      zij) het uiteindelijke resultaat hoort van zijn aanvankelijk prille creatie, geschreven op een afgescheurd
      velletje papier waarmee hij binnen kwam en nauwelijks durfde voor te zingen.</p>
  </div>
</div>
