<studijoop-banner class="red">
  Werkwijze
</studijoop-banner>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <p>Mijn doel is om (beginnende) singer-songwriters de gelegenheid te bieden hun eigen nummer (mee) te producen:</p>
    <ol>
      <li>Opnemen</li>
      <li>Inspelen</li>
      <li>Arrangeren</li>
      <li>Afmixen</li>
    </ol>
    <p>Behalve dat je er een mooie ervaring mee opdoet, levert het ook een blijvend document op van eigen werk, iets wat
      mettertijd alleen maar waardevoller wordt.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2>Stap 1: kennismaking en afstemming</h2>
    <hr/>
    <p>Je laat zien en horen met welk materiaal je wilt gaan werken (het eigen werk dat je wilt opnemen / producen). Ik
      vertel en laat zien en horen wat er zoal mogelijk is aan bewerkingen en toevoegingen. Denk daarbij aan de inzet
      van meerdere instrumenten zoals drum, bas, toetsen, strijkers, blazers, percussie enz., maar ook meerstemmige zang
      en koorwerk, al dan niet van en door jezelf.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2>Stap 2: opname van het basismateriaal</h2>
    <hr/>
    <p>We maken een audio-opname van de (gitaar)begeleiding en de leadzang. Mocht je er voor kiezen om meerdere
      instrumenten eraan toe te voegen, dan gaat er nog aan vooraf dat we een basis drumtrack maken die dienst doet als
      metronoom.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2>Stap 3: bewerken</h2>
    <hr/>
    <p>We gaan hinderlijke oneffenheden in de audio-opname bijschaven tot een acceptabel niveau; je moet immers trots
      kunnen zijn op je resultaat maar tevens moet het jouw persoonlijkheid blijven uitstralen; zo zing / klink jij nu
      eenmaal...</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2>Stap 4: uitbouwen</h2>
    <hr/>
    <p>Afhankelijk van de sfeer die met je met je song voor ogen hebt, gaan we tracks aan de opname toevoegen. Dat
      kunnen, zoals eerder vermeld bij stap 1, instrumenten of stemmen zijn, al dan niet zelf ingespeeld en/of gezongen.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2>Stap 5: eindmix en demo-cd</h2>
    <hr/>
    <p>Tenslotte gaan we in de weer met onderlinge volumes, panning (links - rechts) effecten en dynamiek om een zo
      sprekend mogelijke song te creëren. En als het naar volledige tevredenheid klinkt, maken we er een cd van.
      Tenslotte maken we het geheel af met een eigen ontworpen / gemaakt hoesje voor je eigen unieke persoonlijke
      demo-cd, hoe gaaf is dat!!!</p>
  </div>
</div>
