<div class="max-width">
  <ngb-carousel class="hidden-sm-down">
    <ng-template ngbSlide>
      <div class="slider-block blue"></div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slider-block green"></div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slider-block red"></div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="container">
  <div class="row overview-steps">
    <div class="col-md-4">
      <div class="card">
        <div class="aspect-ratio-3-2">
          <img class="card-img-top" src="/assets/images/joop-2.jpg" alt="mengpaneel">
        </div>
        <div class="card-body">
          <h4 class="card-title">Introductie</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/introductie" routerLinkActive="active" class="btn btn-primary">Ga naar de introductie</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="aspect-ratio-3-2">
          <img class="card-img-top" src="/assets/images/joop-studio.jpg" alt="mengpaneel">
        </div>
        <div class="card-body">
          <h4 class="card-title">Werkwijze</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/introductie" routerLinkActive="active" class="btn btn-primary">Ga naar de introductie</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="aspect-ratio-3-2">
          <img class="card-img-top" src="/assets/images/microfoon.jpg" alt="mengpaneel">
        </div>
        <div class="card-body">
          <h4 class="card-title">Opname</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/introductie" routerLinkActive="active" class="btn btn-primary">Ga naar de introductie</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row overview-steps">
    <div class="col-md-4">
      <div class="card">
        <div class="aspect-ratio-3-2">
          <img class="card-img-top" src="/assets/images/mengpaneel.jpg" alt="mengpaneel">
        </div>
        <div class="card-body">
          <h4 class="card-title">Over</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/introductie" routerLinkActive="active" class="btn btn-primary">Ga naar de introductie</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="aspect-ratio-3-2">
          <img class="card-img-top" src="/assets/images/piano.jpg" alt="mengpaneel">
        </div>
        <div class="card-body">
          <h4 class="card-title">Contact</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/introductie" routerLinkActive="active" class="btn btn-primary">Ga naar de introductie</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="aspect-ratio-3-2">
          <img class="card-img-top" src="/assets/images/joop-gitaar.jpg" alt="mengpaneel">
        </div>
        <div class="card-body">
          <h4 class="card-title">"Jopie"</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="/introductie" routerLinkActive="active" class="btn btn-primary">Ga naar de introductie</a>
        </div>
      </div>
    </div>
  </div>
</div>
