<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/logo/studijoop-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Studijoop
  </a>

  <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a routerLink="/introductie" routerLinkActive="active" class="nav-link" (click)="isCollapsed = !isCollapsed">Introductie</a>
      </li>
      <li class="nav-item">
        <a routerLink="/werkwijze" routerLinkActive="active" class="nav-link">Werkwijze</a>
      </li>
      <li class="nav-item">
        <a routerLink="/opname" routerLinkActive="active" class="nav-link">Opname</a>
      </li>
      <li class="nav-item">
        <a routerLink="/over" routerLinkActive="active" class="nav-link">Meer over StudiJOOP</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
      </li>
    </ul>
    <span class="navbar-text">
      "Vang een emotie in tekst en muziek, om het voor altijd te koesteren."
    </span>
  </div>
</nav>
