<nav class="navbar navbar-dark bg-dark fixed-bottom">
  <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-link"><span class="oi" data-glyph="media-step-backward"></span></button>
    <button type="button" class="btn btn-link"><span class="oi" data-glyph="media-skip-backward"></span></button>
    <button type="button" class="btn btn-link"><span class="oi" data-glyph="media-play"></span></button>
    <button type="button" class="btn btn-link"><span class="oi" data-glyph="media-skip-forward"></span></button>
    <button type="button" class="btn btn-link"><span class="oi" data-glyph="media-step-forward"></span></button>
  </div>
</nav>
